In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf
from tensorflow import keras
from skimage import io
import seaborn as sns

In [9]:
train = pd.read_csv('train_v2.csv')
train.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [11]:
test = pd.read_csv('sample_submission_v2.csv')
test.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [15]:
test1 = pd.read_csv('test_v2_file_mapping.csv')
test1.head()

              old             new
0   file_4158.tif  file_18830.tif
1   file_1668.tif  file_19164.tif
2   file_2411.tif  file_15749.tif
3  file_16047.tif   file_7531.tif
4   file_1271.tif  file_18347.tif

In [12]:
test.shape

(61191, 2)

In [18]:
train.shape

(40479, 2)

In [29]:
train.nunique()

image_name    40479
tags            449
dtype: int64

In [30]:
test.nunique()

image_name    61191
tags              1
dtype: int64

In [34]:
ul = set()
def labels(tags):
    for i in tags.split():
        ul.add(i)

train = train.copy()
train['tags'].apply(labels)
unique = list(ul)
print(unique)

['conventional_mine', 'artisinal_mine', 'habitation', 'clear', 'cultivation', 'primary', 'water', 'slash_burn', 'cloudy', 'agriculture', 'partly_cloudy', 'blooming', 'bare_ground', 'haze', 'blow_down', 'road', 'selective_logging']

In [42]:
train_2 = train['tags']
train_2.head()

0                                 haze primary
1              agriculture clear primary water
2                                clear primary
3                                clear primary
4    agriculture clear habitation primary road
Name: tags, dtype: object

In [46]:
for tag in unique:
    train[tag] = train['tags'].apply(lambda x: 1 if tag in x.split() else 0)
train['image_name'] = train['image_name'].apply(lambda x: '{}.tif'.format(x)) 
train.head()

,image_name,tags,conventional_mine,artisinal_mine,habitation,clear,cultivation,primary,water,slash_burn,cloudy,agriculture,partly_cloudy,blooming,bare_ground,haze,blow_down,road,selective_logging
0,train_0.jpg.tif,haze primary,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
1,train_1.jpg.tif,agriculture clear primary water,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,0
2,train_2.jpg.tif,clear primary,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
3,train_3.jpg.tif,clear primary,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,train_4.jpg.tif,agriculture clear habitation primary road,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0